# Dictionary & its function

In [2]:
dict = {"Name": "Sarika", "Age": 20, "Last Name": "Yadav"}
dict

{'Name': 'Sarika', 'Age': 20, 'Last Name': 'Yadav'}

In [3]:
dict.values()#values function

dict_values(['Sarika', 20, 'Yadav'])

In [4]:
dict.keys()#keys fun

dict_keys(['Name', 'Age', 'Last Name'])

In [7]:
dict.clear()#clear fun
dict

{}

In [8]:
dict = {"Name": "Tushar Sehgal", "Age": 21}
dict

{'Name': 'Tushar Sehgal', 'Age': 21}

In [9]:
dict.get("Name")#name fun
dict

{'Name': 'Tushar Sehgal', 'Age': 21}

# Sets & its function

In [10]:
st = {"Tanya", "Nikku", "Deepika", 1,2,3}
st

{1, 2, 3, 'Deepika', 'Nikku', 'Tanya'}

In [11]:
st.add("Rahul")#add fun
st

{1, 2, 3, 'Deepika', 'Nikku', 'Rahul', 'Tanya'}

In [14]:
st1={"Deepika",8}
st1.issubset(st)#issubset fun

False

In [16]:
st1.intersection(st)#intersection fun

{'Deepika'}

In [17]:
st1.difference(st)#difference fun

{8}

# Tuple & its function

In [18]:
tup = ("Sarika", "Yadav", "B.Tech")
tup

('Sarika', 'Yadav', 'B.Tech')

In [19]:
tup.count("Yadav")#count fun

1

In [20]:
tup.index("Sarika")#index fun

0

# Strings & its fun

In [21]:
a = 10
b = 20
c = 30
d = 30.5

In [22]:
z = c + d

In [23]:
z

60.5

In [24]:
type(z)#type fun

float

In [25]:
x = a + b

In [26]:
x

30

In [27]:
type(x)

int

In [28]:
name="Sarika"

In [29]:
type(name)

str